.add-property__header {
    font-weight: 400;
}

.add-property__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: auto;
    background-color: #cecece;
    padding: 1em;
    border-radius: 15px;
}

.add-property__form__label {
    align-self: flex-start;
}

.form__input {
    margin: 0.6em;
    padding: 0.3em;
    width: 90%;
}

button {
    align-self: center;
    font-weight: 600;
    margin-top: 1em;
    padding: 0.6em;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 3px;
}

.alert {
    align-self: center;
    margin: 1em auto;
    padding: 0.3em;
    border-radius: 3px;
    max-width: fit-content;
}