.App {
  text-align: center;
}

.App__banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__header {
  margin-left: 0.6em;
}

.App__header__logo {
  height: 60px;
  width: auto;
}

.App__logged-in-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1em;
  align-items: center;
}

.profile-picture {
  border-radius: 60px;
  justify-self: center;
}

.App__log-out__button, .App__log-in__button {
  padding: 0.6em;
  font-weight: 600;
  background-color: black;
  color: white;
  border-style: none;
  border-radius: 3px;
}