.filter-sort-search {
    background-color: #cecece;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 90%;
    margin: auto;
    padding: 0.6em;
    border-radius: 9px;
}

.city-filter__label, .price-sort__label {
    margin-top: 0;
}

.city-filter__link, .price-sort__link {
    margin: 0.6em;
}

.search-input {
    padding: 0.3em;
}

.search-button {
    margin-left: 0.3em;
    padding: 0.6em;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 9px;
}

@media screen and (max-width: 900px) {
    .filter-sort-search {
        grid-template-columns: 1fr 1fr;
        row-gap: 1.5em;
    }   
    .search-form {
        grid-column: 1 / span 2;
    }
}

@media screen and (max-width: 700px) {
    .filter-sort-search {
        grid-template-columns: 1fr;
    } 
    .search-form {
        grid-column: 1 / span 1;
    }   
}