.properties__header {
    font-weight: 400;
}

.properties__container {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 3em;
    column-gap: 1em;
}

@media screen and (max-width: 1200px) {
    .properties__container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) {
    .properties__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .properties__container {
        grid-template-columns: 1fr;
    }
}