.properties__header {
    font-weight: 400;
}

.city-filter {
    margin-bottom: 1em;
    background-color: #cecece;
    max-width: fit-content;
    margin: auto;
    padding: 0.6em;
    border-radius: 9px;
}

.properties__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    row-gap: 3em;
}

@media screen and (max-width: 800px) {
    .properties__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 420px) {
    .properties__container {
        grid-template-columns: 1fr;
    }
}