.property-card {
    box-shadow: 3px 3px 6px #7E32EE, -3px -3px 6px #25C1FC;
    border-radius: 9px;
}

.property-card__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em;
    margin: auto;
}

.property-card__list__item {
    list-style: none;
    margin: 0.6em;
}

.property-card__list__logo {
    height: 250px;
    width: auto;    
}

.email-link {
    text-decoration: none;
}

.save-button {
    padding: 0.6em;
    border-radius: 9px;
}