.properties__header {
    font-weight: 400;
}

.properties__container {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
    row-gap: 3em;
}

@media screen and (max-width: 1000px) {
    .properties__container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .properties__container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px) {
    .properties__container {
        grid-template-columns: 1fr;
    }
}